.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color:var(--color-bg-footer);
    background-image: 
    linear-gradient(to top, var(--color-bg-footer),var(--color-bg-footer)),url(../images/Hero-section/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    
  @include mq(desk) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;
  
    font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white-text);
  }}