.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color:var(--color-bg-footer);
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
     background-image: 
    linear-gradient(to top, var(--color-bg-footer),var(--color-bg-footer)),url(../images/hero/hero-@1x_mb.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) { background-image: linear-gradient(to top, var(--color-bg-footer),var(--color-bg-footer)), url(../images/hero/hero-@2x_mb.jpg);
    }


    @include mq(tab) {background-image: linear-gradient(to top, var(--color-bg-footer),var(--color-bg-footer)), url(../images/hero/hero-@1x_tb.jpg);

      @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) { background-image: linear-gradient(to top, var(--color-bg-footer),var(--color-bg-footer)), url(../images/hero/hero-@2x_tb.jpg);
    }
    }
    
    @include mq(desk) {
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(to top, var(--color-bg-footer),var(--color-bg-footer)), url(../images/hero/hero-@1x_desk.jpg);

      @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) { background-image: linear-gradient(to top, var(--color-bg-footer),var(--color-bg-footer)), url(../images/hero/hero-@2x_desk.jpg);}
    }
  
  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;
  
    font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white-text);

    @include mq(desk) {
    font-size: 44px;
    line-height: calc(60 / 44);
    max-width: 696px;
    }
  }
}