.team {
  background-color: var(--color-grey-button);

  &__list {
    --card-item:4;
    }
    
    &__item {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: var(--color-white-text);
      border-radius: 0px 0px 4px 4px;
    }
    
    &__box {
      padding: 30px;
    }
    
    &__title,
    &__text {
      font-size: 16px;
      line-height: calc(19 / 16);
      text-align: center;
      color: var(--color-grey-text);
    }
    
    &__title {
      margin-bottom: 10px;
      font-weight: 500;
      color: var(--color-black-text);
    }
    
    &__text{margin-bottom: 16px;}
    
    &__socials-white{ color: var(--color-social-icon);
      background-color:var(--color-white-text);
    }
    
}

