.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--color-main-blue);
    font-family: var(--second-font-family);
  
  
  &--mode-black {
    color: var(--color-logo-black);
  }
  
  &--mode-white {
    color: var(--color-white-text);
  }
}