    .section{
    padding-top: 60px ;
    padding-bottom: 60px ;

    @include mq(desk) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    }
    .section-title {
    margin-bottom: 50px;
    text-align: center;
  
    font-family: var(--main-font-family);
    font-weight: 700;

    letter-spacing: 0.03em;
    color: var(--color-black-text);
    font-size: 28px;
    line-height: calc(32 / 28);

    @include mq(desk) {    
    font-size: 36px;
    line-height: calc(42 / 36);}
    }